:root {
  /* Menu and Transition */
  --menu-width: 250px;
  --transition-speed: 0.2s;
  --content-delay: 0.3s;

  /* Fonts */
  --font-main: "Garamond", serif;
  --font-heading: "Baskerville", serif;

  /* Colors */
  --color-dark-gray: #666666; /* Deep dark blue for body and menu */
  --color-deep-red: #0c0202ea; /* Deep teal for header and main content */
  --color-off-white: goldenrod; /* Very light green for text color */
  --color-light-gray: #000000; /* Slate blue for border */
  --color-shadow-light: #1cf100; /* Orange for box shadow */
  --color-shadow-dark: white; /* Olive for box shadow */
  --color-lighter-gray: #333cc0; /* Light coral for hover state */
  --color-black: #1cf100; /* Very dark green for text color */
  --color-white: #000000; /* Very light cyan for background color */
  --color-green: #ffffff; /* Light yellow for hover and input background */
  --color-gold: #000000; /* Orange for hover state */
  --color-wheat: #ffffff; /* Light brown for label color */
  --color-yellow: #000000; /* Orange yellow for input text color */
  --color-salmon: #ffffff; /* Red brown for button background color */
  --color-dark-green: #fd1111; /* Dark green for button text color */
  --color-dark-brown: #fd1111; /* Saddle Brown for hover state */
  --color-whitesmoke: #000000; /* Sky blue for hover state */
  --color-khaki: #ffffff; /* Brown for option color */
  --color-yellowgreen: #000000; /* Very light lime for selected option */
  --color-indigo: goldenrod; /* Indigo for selected option shadow */
  --color-lawngreen: #ffffff; /* Light purple for small properties */
  --color-ayah-translation-item-bg: #666666;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: var(--font-main);
  overflow-x: hidden;
  background-color: var(--color-dark-gray);
  margin-top: -80px;
  /* margin: 0 20px; */
}

.header {
  padding: 10px;
  background-color: var(--color-deep-red);
  color: var(--color-off-white);
  font-family: var(--font-heading);
  text-align: center; /* Add this line */
}
.h1-heading {
  font-size: 1.5rem;
}

.menu {
  padding-top: 10px;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--color-dark-gray);
  overflow-x: hidden;
  transition: width var(--transition-speed) ease-in-out,
    visibility 0s linear var(--transition-speed);
  visibility: hidden;
  border-right: 1px solid var(--color-light-gray);
  box-shadow: 2px 0px 5px var(--color-shadow-light);
  font-size: 14px;
  color: var(--color-off-white);
  line-height: 1.5;
  font-family: var(--font-main);
}

.menu .menu-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height var(--transition-speed) ease-in-out
      var(--content-delay),
    opacity var(--transition-speed) linear var(--content-delay);
  opacity: 0;
}

.menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  display: block;
  transition: color 0.3s;
}

.menu a:hover {
  color: var(--color-gold);
}

.menu .closeBtn {
  position: absolute;
  margin: 0;
  top: 0;
  right: 10px;
  font-size: 34px;
  color: var(--color-off-white);
  background: transparent;
  border: none;
}

.menuBtn {
  position: sticky;
  font-size: 36px;
  left: 15px;
  top: 15px;
  /* color: var(--color-black); */
  color: goldenrod;
  background: var(--color-white);
  border-radius: 4px;
  box-shadow: 0 0px 5px 5px goldenrod;
  /* margin: 20px; */
}

.menuBtn:hover {
  color: var(--color-green);
  background-color: var(--color-gold);
}

.menu.open {
  padding: 20px;
  visibility: visible;
  width: var(--menu-width);
  box-shadow: 0 5px 50px 5px var(--color-shadow-dark);
}

.menu.open .menu-content {
  max-height: none;
  opacity: 1;
}

.main-content {
  padding: 20px;
  padding-left: 50px;
  margin-left: var(--menu-width);
  transition: margin-left var(--transition-speed);
  color: var(--color-off-white);
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--color-deep-red);
  text-align: center; /* Add this line */
  font-size: 2rem;
}

.main-content.shift {
  margin-top: 5px;
  margin-left: 0px;
}

.menu label {
  color: var(--color-wheat);
  font-weight: bold;
}

.menu select,
.menu input[type="checkbox"] {
  width: 90%;
  padding: 5px;
  margin: 10px 0;
  background-color: var(--color-green);
  color: var(--color-yellow);
}

.menu select:focus,
.menu input[type="checkbox"]:focus {
  color: var(--color-deep-red);
}

.menu button {
  background-color: var(--color-salmon);
  color: var(--color-dark-green);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
}

.menu button:hover {
  background-color: var(--color-dark-brown);
  color: var(--color-whitesmoke);
}

.translation-option {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: var(--color-khaki);
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

.translation-option:hover {
  background-color: var(--color-lighter-gray);
}

.translation-option.selected {
  background-color: var(--color-yellowgreen);
  box-shadow: 0 0 10px 5px var(--color-indigo);
}

.ayah-translations-list {
  padding: 0;
  margin: 20px 0;
  list-style-type: none;
  padding: 10px;
  /* background-color: gray; */
  border-radius: 20px;
}

.ayah-translation-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  /* background-color: var(--color-ayah-translation-item-bg); */
  background-color: black;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  /* box-shadow: 10px 10px 20px 0px black; */
  box-shadow: 0px 0px 20px 5px gold;
}

.ayah-translation-item th {
  flex: 1;
  font-weight: bold;
}

.ayah-translation-item td {
  flex: 2;
  text-align: right;
}

audio {
  width: 100%;
}
.ayah-text {
  box-shadow: 0px 0px 20px 5px gold;
  padding: 20px;
  border-radius: 90px;
}

.surah-property-small {
  font-size: 0.6rem;
  display: inline;
  margin-right: 10px;
  color: var(--color-lawngreen);
}
.translationIdentifier {
  background-color: goldenrod;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  color: black;
  font-size: 1.4rem;
  font-weight: bold;
  box-shadow: 0px 0px 5px 1px white;
}

/* Small devices (landscape phones, less than 576px) */
@media (max-width: 575.98px) {
  :root {
    --menu-width: 200px;
  }

  .ayah-translation-item {
    flex-direction: column;
  }

  .ayah-translation-item th,
  .ayah-translation-item td {
    text-align: center;
  }
}
/* media queries */
/* Medium devices (tablets, less than 768px) */
@media (max-width: 767.98px) {
  :root {
    --menu-width: 200px;
  }

  .ayah-translation-item {
    flex-direction: column-reverse;
  }

  .ayah-translation-item th,
  .ayah-translation-item td {
    text-align: center;
  }
}

/* Large devices (desktops, less than 992px) */
@media (max-width: 991.98px) {
  :root {
    --menu-width: 250px;
  }

  .ayah-translation-item {
    flex-direction: row;
  }

  .ayah-translation-item th,
  .ayah-translation-item td {
    text-align: right;
  }
}

/* Extra large devices (large desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  :root {
    --menu-width: 250px;
  }

  .ayah-translation-item {
    flex-direction: row;
  }

  .ayah-translation-item th,
  .ayah-translation-item td {
    text-align: right;
  }
}

/* Small devices (phones, 360px and up) */
@media (max-width: 500.98px) {
  :root {
    --menu-width: 150px;
    --font-main: 12px;
  }

  .header,
  .main-content {
    font-size: 1rem;
  }

  .ayah-translation-item {
    flex-direction: column;
    margin: 5px 0;
    padding: 5px;
  }

  .ayah-translation-item th,
  .ayah-translation-item td {
    text-align: center;
    font-size: 0.8rem;
  }

  .surah-property-small {
    font-size: 0.6rem;
  }

  .menu select,
  .menu input[type="checkbox"] {
    padding: 4px;
    margin: 5px 0;
  }

  .menu button {
    padding: 4px 8px;
    font-size: 12px;
  }

  .translationIdentifier {
    font-size: 1.2rem;
  }
  .menuBtn {
    position: sticky;
  }
}
